<!DOCTYPE html>
<html>
  <head>
    <title><%= @metatitle %></title>
    <meta content="<%= @metadescription %>" name="description">
    <meta content="<%= @metakeywords %>" name="keyword">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/site/css/style.css">
   
  </head>
  <body>
	  <div class="headerwrapper">
	  	<div class="text-left logo"></div>
	  	<div class="text-left navbar">
	  		<ul>
	  			<li><a href="<%= url_index %>">Home</a></li>
	  			<li><a href="<%= url_overview %>">Overview</a></li>
	  			<li><a href="<%= url_floorplan %>">Floor Plan</a></li>
	  			<li><a href="<%= url_testimonial %>">Testimonial</a></li>
	  			<li><a href="<%= url_blog %>">Blogs</a></li>
	  		</ul>
	  	</div>
	  </div>
  <%= yield %>
  
 <div class="container">
 	<div class="footer text-center">
 		Copyrights @ Supriya.Barkund 2017
 	</div>
 </div>
  
  </body>
</html>
